@model IEnumerable<MvcApplication4.Models.Recipient>

@{
    ViewBag.Title = "My recipients";
}

<h2>My recipients</h2>

<p>
    @Html.ActionLink("Create new relationship", "CreateRelationship", "Home")
</p>
<table>
    <tr>   
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relationshipLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th></th>
    </tr>

@{int userId = Convert.ToInt32(Session["LogedUserId"]);}

@foreach (var item in Model) {
    if(userId == item.idUser){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.relationship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.relationshipLength) years
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age) years
            </td>
            <td>
                @Html.ActionLink("Edit", "EditRelationship", new { id=item.id }) |       
                @Html.ActionLink("Delete", "DeleteRelationship", new { id = item.id }) |                
                @Html.ActionLink("View suggestions", "SuggestionsForRecipient", new { id = item.id }) |
                @Html.ActionLink("Get gift", "SuggestToRecipient", new { id = item.id })

            </td>
        </tr>
    }
}

</table>
